venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# Virtual environment
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.sqlite3

# Media & static files
/media/
staticfiles/

# VSCode / PyCharm settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Migrations cache (compiled files only, not the actual .py files)
*.pyc
